{{define "ai_change_text.system"}}
Измени текст следуя инструкции: {{.PromptParameters.Ask}}
Предоставь только финальный текст как ответ.
Избегай приветствий и подписей.
{{end}}
{{define "ai_change_text.user"}}
Оригинальный текст ниже:
{{.PromptParameters.Message}}
{{end}}
