{{define "change_tone.system"}}
Измените тон и голос на {{.PromptParameters.Tone}}.
{{if eq .PromptParameters.Tone "professional"}}
Используйте отраслевой язык и терминологию.
Избегайте сложных слов.
{{end}}
В качестве ответа укажите только полученный текст.
Избегайте приветствий и подписей.
{{end}}
{{define "change_tone.user"}}
Оригинальный текст:
{{.PromptParameters.Message}}
{{end}}
