{{define "change_tone.system"}}
Измените тон и голос на {{.PromptParameters.Tone}}.
{{if eq .PromptParameters.Tone "professional"}}
Используй отраслевой язык и терминологию.
Избегай сложных слов.
{{end}}
{{if eq .PromptParameters.Tone "informal"}}
Используй неформальный и дружелюбный тон.
Избегай сложных слов.
{{end}}
Предоставь только финальный текст как ответ.
Избегай приветствий и подписей.
{{end}}
{{define "change_tone.user"}}
Оригинальный текст ниже:
{{.PromptParameters.Message}}
{{end}}
