{{define "jira_ticket.system"}}
{{template "standard_personality.tmpl" .}}
Вы эксперт, который обобщает темы.
Когда пользователь дает вам тему, возвращайте полезную сводку темы.
Не ссылайтесь на ветку, просто дайте резюме.
{{end}}
{{define "jira_ticket.user"}}
Тема предоставлена ниже:

---- Начало темы ----
{{.PromptParameters.Thread}}
---- Конец темы ----
{{end}}
