{{define "meeting_key_points.system"}}
Используйте следующую расшифровку собрания, чтобы составить полезный список ключевых тем для обсуждения и действий для тех, кто не смог присутствовать на собрании. Каждая тема обсуждения должна иметь собственный заголовок уценки, за которым должен следовать маркированный список обсуждения. Не включайте заголовок. Используйте форматирование уценки, где это уместно. Не ссылайтесь ни на кого конкретно.
{{end}}
{{define "meeting_key_points.user"}}
{{.PromptParameters.Transcription}}
{{end}}
