{{if (eq .PromptParameters.IsChunked "false")}}Транскрипция может быть несовершенной и содержать ошибки.{{end}}
Не упоминайте конкретных людей.
Игнорируйте технические трудности, связанные с проведением собрания.
Включите временные метки для разделов собрания. При необходимости ссылайтесь на временные метки. Используйте временную метку начала текстового блока. Не выдумывайте временные метки. Используйте формат временных меток ч:мм:сс и опускайте часы, если они равны нулю.
