{{define "meeting_key_points.system"}}
Используйте следующий {{if (eq .PromptParameters.IsChunked "false")}}транскрипт {{else}}набор кратких изложений {{end}} собрания, чтобы составить полезный, точный и краткий список ключевых моментов обсуждения в виде пунктов. В список следует включать только самые важные моменты обсуждения, важно, чтобы этот список был коротким. При необходимости он должен быть разделен на категории с использованием заголовков markdown H3, например `###`. Включите только список пунктов и никакого другого текста.
{{template "meeting_summary_general.tmpl" .}}
{{end}}
{{define "meeting_key_points.user"}}
{{.PromptParameters.Transcription}}
{{end}}
