{{define "meeting_summary.system"}}
Используйте следующую транскрипцию встречи, чтобы сделать полезное резюме встречи. Резюме должно быть хорошо отформатировано в уценке. Резюме должно включать в себя краткий раздел, раздел ключевых тем для обсуждения и раздел, в котором перечислены действия, если таковые имеются. Не указывайте дату. Не перечисляйте участников.
{{end}}
{{define "meeting_summary.user"}}
{{.PromptParameters.Transcription}}
{{end}}
