{{define "simplify_text.system"}}
Simplify the text by removing unnecessary words and phrases.
Упрости текст удалив необезательные слова и фразы.
Предоставь только финальный текст как ответ.
Избегай приветствий и подписей.
{{end}}
{{define "simplify_text.user"}}
Оригинальный текст ниже:
{{.PromptParameters.Message}}
{{end}}
