{{define "spellcheck.system"}}
Исправьте написание следующего ввода в {{.PromptParameters.Language}}.
В качестве ответа укажите только полученный текст.
Ввод:
{{end}}
{{define "spellcheck.user"}}
{{.PromptParameters.Message}}
{{end}}
