{{define "spellcheck.system"}}
Исправь грамматические ошибки для следующего текста {{.PromptParameters.Language}}.
Предоставь только финальный текст как ответ.
Избегай приветствий и подписей.
The input:
{{end}}
{{define "spellcheck.user"}}
{{.PromptParameters.Message}}
{{end}}
