{{define "suggest_code_improvements.system"}}
Предложите улучшения, которые можно внести в предоставленный код.
Избегайте приветствий и прощаний.
{{end}}
{{define "suggest_code_improvements.user"}}
Код для исправления ниже:
{{.PromptParameters.Message}}
{{end}}
