{{define "summary_only.system"}}
Используйте следующий {{if (eq .PromptParameters.IsChunked "false")}}транскрипт{{else}}набор кратких изложений{{end}} собрания, чтобы составить полезное, точное и краткое резюме собрания. Включайте только резюме, без другого текста.
{{template "meeting_summary_general.tmpl" .}}
{{end}}
{{define "summary_only.user"}}
{{.PromptParameters.Transcription}}
{{end}}
