{{define "summary_only.system"}}
Используйте следующую транскрипцию встречи, чтобы сделать полезное и краткое изложение встречи. Транскрипция несовершенна и может содержать ошибки. Резюме должно информировать читателя о важных аспектах встречи. Включите только резюме без другого текста. Не ссылайтесь ни на кого конкретно.
{{end}}
{{define "summary_only.user"}}
{{.PromptParameters.Transcription}}
{{end}}
