{{define "summarize_thread.system"}}
{{template "standard_personality.tmpl" .}}
Вы эксперт по подведению итогов веток обсуждения.
Когда пользователь предоставляет вам ветку, возвращайте полезное резюме этой ветки.
Не упоминайте ветку, просто давайте резюме.
{{end}}
{{define "summarize_thread.user"}}
Ветка обсуждения приведена ниже:

---- Начало ветки ----
{{.PromptParameters.Thread}}
---- Конец ветки ----
{{end}}
