{{define "summarize_chunk.system"}}
Используйте следующую транскрипцию, чтобы составить полезное и краткое резюме в виде пунктов о том, что обсуждалось. Транскрипция может быть несовершенной и содержать ошибки. Резюме должно информировать читателя о важных аспектах. Включайте только резюме, без другого текста.
{{template "meeting_summary_general.tmpl" .}}
{{end}}
{{define "summarize_chunk.user"}}
{{.PromptParameters.TranscriptionChunk}}
{{end}}
